@import "variables";
@import "mixins";

.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;
  color: white;
}
.calendar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.calendar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.today-button {
  background: none;
  border: none;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.calendar-body {
  display: flex;
  flex: 1;
}

.calendar-sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 1rem;
}

.calendar-main {
  flex: 1;
  display: grid;
  gap: 2px;
  padding: 1rem;
  background-color: white;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  padding: 1rem;
}

.calendar-day {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  background: #fff;
  position: relative;
  &:hover {
    background: #f0f8ff;
  }
}

.calendar-day.today-highlight {
  background-color: #ffdd57; // 원하는 강조 색상
  color: #333;
  font-weight: bold;
  border-radius: 0.5rem;
}

.has-event {
  background: #ffeb3b; // 이벤트가 있는 날짜 강조
}

.event-badge {
  background: #007bff;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 4px;
  display: inline-block;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal h3 {
  text-align: center;
}

.modal input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.save-button {
  background: #007bff;
  color: white;
}

.delete-button {
  background: red;
  color: white;
}

/* 반응형 */
@media (max-width: 768px) {
  .calendar-sidebar {
    width: 100%;
    height: auto;
  }
}
