@use "variables";
@use "sass:color";

.event-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.event-date-group {
  margin-bottom: 16px;
}

.event-date {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 4px;
}
.today-highlight .event-date {
  color: #e53935; // 오늘 날짜는 빨간색 강조
}
.event-sublist {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  padding-left: 8px;
  border-left: 2px solid #ccc;
  gap: 1rem;
  cursor: pointer;
}
.event-item {
  background: #fff;
  padding: 1rem;
  border-radius: variables.$border-radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .edit-button {
    color: color.scale(variables.$primary-color);
    cursor: pointer;
  }
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
