@use "variables";
@use "sass:color";

.event-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: variables.$border-radius;
  }

  button {
    background-color: color.scale(variables.$primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: variables.$border-radius;
    cursor: pointer;

    &:hover {
      background-color: color.scale(variables.$primary-color, $lightness: -10%);
    }
  }
}
