@import "variables";
@import "mixins";
@import "calendar";
@import "form";
@import "events";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

ul {
  list-style: none; /* 불릿 없애기 */
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
}
